<p>create-machine works!</p>
<h3>Create Machine</h3>
<div [hidden]="isMachineSubmitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
<!--    <div class="form-group">-->
<!--      <label for="id">MachineId</label>-->
<!--      <input type="text" class="form-control" id="id" required [(ngModel)]="machine.id" name="id">-->
<!--    </div>-->

    <div class="form-group">
      <label for="name"> Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="machine.name" name="name">
    </div>

    <div class="form-group">
      <label for="itemId">Items</label>
      <input type="text" class="form-control" id="itemId" required [(ngModel)]="machine.item_id" name="itemId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!isMachineSubmitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
