<p>user-list works!</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>code</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async ">
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.code}}</td>
        <td><button (click)="deleteUsr(user.id)" class="btn btn-danger">Delete</button>
          <button (click)="userDetails(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
