<p>item-list works!</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Item List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped"  class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Width</th>
        <th>Length</th>
        <th>Height</th>
        <th>Description</th>
        <th>Item class</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items ">
        <td>{{item. id }}     </td>
        <td>{{item. name }}   </td>
        <td>{{item. width }}</td>
        <td>{{item. length }}</td>
        <td>{{item. height }}</td>
        <td>{{item. descr }}</td>
        <td>{{item. item_class }}</td>
        <td><button (click)="deleteItem(item.id)" class="btn btn-danger">Delete</button>
          <button (click)="itemDetails(item.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="editItem(item.id )" class="btn btn-info" style="margin-left: 10px">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
